<ion-view view-title={{"HOUSEHOLD_ENERGY"|translate}}>
  <ion-content>
    <div class="list">
      <div class="item item-text-wrap">
        <small ng-if="currentUser.household.connected">{{"HOUSEHOLD_ENERGY_DISCLAIMER_" + currentUser.cooperative.getStringId() | translate}}</small>
        <small ng-if="!currentUser.household.connected">{{"HOUSEHOLD_ENERGY_DISCLAIMER_MISSING_" + currentUser.cooperative.getStringId() | translate}}</small>
      </div>
      <div civis-energy-graph='energyGraphSettings' civis-energy-graph-data="household"></div>
    </div>
  </ion-content>
</ion-view>
