# temp files
.DS_Store
.tmp
.sass-cache

# npm & bower
/app/bower_components/

# ionic fonts
/app/main/assets/fonts/ionicons.*

# cordova
/platforms/
/plugins/

# cordova build folder
/www/**

# IDE
*.sublime-project
*.sublime-workspace
