<ion-view view-title="Energy Performance">
  <ion-content class="padding">
    <div class="button-bar">
      <a class="button">Month</a>
      <a class="button button-balanced">3 Months</a>
      <a class="button">Year</a>
    </div>
    <div class="list card">
      <div class="item item-divider"> </div>
    </div>
    <a href="#" class="item item-divider item-icon-right">
        <i class="icon ion-chevron-down icon-accessory"></i> 
        <span class="item-note">
          Show me more!
        </span>
      </a>
  </ion-content>
</ion-view>
