<ion-view view-title="Communities">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Your Communities</div>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-person-stalker"></i>
        Otaniemi (25), 3 friends 
        <b class="balanced" style="float: right; white-space:pre"><i class="icon ion-leaf balanced"></i>        890</b>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-person-stalker"></i>
        Aalto (590), 35 friends
        <b class="balanced" style="float: right; white-space:pre"><i class="icon ion-leaf balanced"></i>        250</b>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-person-stalker"></i>
        CIVIS (234), 49 friends
        <b class="balanced" style="float: right; white-space:pre"><i class="icon ion-leaf balanced"></i>        360</b>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-divider item-icon-left">
        <i class="icon ion-android-add"></i>
        Join or create community
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">Top Actions</div>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-leaf balanced"></i>
        <span class="balanced">
          <b>10</b>
        </span>
        Use a jug/kettle to boil water
        <span class="item-note">
      250 people are doing it</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-leaf balanced"></i>
        <span class="balanced">
          <b>20</b>
        </span>
        Install a programmable thermostat thermostatthermostat
        <span class="item-note">
          120 people have done this
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-leaf balanced"></i>
        <span class="balanced">
          <b>25</b>
        </span>
        Running the clothes washer and dryer with full loads to conserve energy. 
        <span class="item-note">
          85 people are doing this
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-divider item-icon-right">
        <i class="icon ion-chevron-down icon-accessory"></i> 
        <span class="item-note">
          Show me more!
        </span>
      </a>
    </div>
  </ion-content>
</ion-view>
