<ion-view view-title="Personal Profile">
  <ion-content>
  <div class="list">
    <label class="item item-input">
      <span class="input-label" translate>Username</span>
      {{person.username}} 
    </label>
    <label class="item item-input">
      <span class="input-label" translate>Password</span>
      <button class="button button-small button-outline button-balanced ion-key" style="width: 40%" translate>CHANGE</button>
    </label>
    <label class="item item-input">
      <span class="input-label" translate>First Name</span>
      <input type="text" ng-model="person.firstname" placeholder="First Name">
    </label>
    <label class="item item-input">
      <span class="input-label" translate>Last Name</span>
      <input type="text" ng-model="person.lastname" placeholder="Last Name">
    </label>
    <label class="item item-input" >
      <span class="input-label" translate>Nickname</span>
      <input type="text" ng-model="person.nickname" placeholder="Nickname">
    </label>
    <label class="item item-input item-select">
      <span class="input-label" translate>Gender</span>
      <select ng-model="person.gender">
        <option></option>
        <option value=0 translate>Male</option>
        <option value=1 translate>Female</option>
      </select>
    </label>
    <label class="item item-input">
      <span class="input-label" translate>Birthday</span>
      <input type="date" value={{person.birthday}} placeholder="YYYY-MM-DD">
    </label>
    <label class="item item-input item-select">
      <span class="input-label" translate>Language</span>
      <select ng-model="person.language">
        <option value=0 translate>English</option>
        <option value=1 translate>Italian</option>
      </select>
    </label>
    <div class="button-bar">
      <a href="#/tab/settings" class="button button-balanced" translate>Cancel</a>
      <a href="#/tab/settings" class="button button-balanced" ng-click="save()" translate>Save</a>
    </div>
  </div>
  </ion-content>
</ion-view>
