<ion-view view-title="Communities">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">My Communities</div>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-person-stalker"></i>
        Otaniemi (25), 3 friends
        <span class="badge badge-balanced">890</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-person-stalker"></i>
        Aalto (590), 35 friends
        <span class="badge badge-balanced">250</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-plus"></i>
        Join a community
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">Top Actions</div>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-leaf"></i>
        <span class="balanced">
          <b>230</b>
        </span>
        Use a jug/kettle to boil water
        <span class="badge badge-balanced">10</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-leaf"></i>
        <span class="balanced">
          <b>216</b>
        </span>
        Install a programmable thermostat
        <span class="badge badge-balanced">20</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
