<ion-view view-title="Challenges">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">My Ongoing Challenges</div>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-person"></i>
        <span class="balanced">
          <b>60%</b>
        </span>
        Reduce my home consumption by 10%
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-person-stalker"></i>
        <span class="balanced">
          <b>42%</b>
        </span>
        Save for solar panels for our building
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
     <a href="#" class="item item-icon-left">
        <i class="icon ion-plus"></i>
        Add new challenge
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">Friend's Challenges</div>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-person"></i>
        <span class="balanced">
          <b>92%</b>
        </span>
        Save for 10 new light bulbs!
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">Completed Challenges</div>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-leaf"></i>
        <span class="balanced">
          <b>250</b>
        </span>
        Donate 500 eur energy saving to UNICEF.
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
