<ion-view view-title="Your Actions">
  <ion-content class="padding">
  
     <div class="list card">
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-leaf balanced"></i>
        <span class="balanced">
          <b>180</b>
        </span> Leafs earned in total 
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>

    <div class="list card">
      <div class="item item-divider">Your Actions (3)</div>
      <a href="#" class="item item-icon-left item-icon-right">
        <span class="balanced">
          <b>30</b>
        </span>
        <i class="icon ion-leaf balanced"></i>
        Turn off standby power of TV, stereo, computer, etc.
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-left item-icon-right">
        <span class="balanced">
          <b>10</b>
        </span>
        <i class="icon ion-leaf balanced"></i>
        Find and seal up leaks.  
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-left item-icon-right">
        <span class="balanced">
          <b>10</b>
        </span>
        <i class="icon ion-leaf balanced"></i>
        Allow food to cool down first before placing it in the refrigerator.
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">Pending actions (1)</div>
      <a href="#" class="item item-icon-left item-icon-right">
        <span class="balanced">
          <b>20</b>
        </span>
        <i class="icon ion-leaf balanced"></i>
        Defrost your freezer in 30 days.
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>

   
    <a class="button button-full button-balanced" href="#">
      <i class="icon ion-plus"></i>
      Add actions
    </a>


  </ion-content>
</ion-view>
