<ion-view view-title="Challenges">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Your Ongoing Challenges (2)</div>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-person"></i>
        Reduce your consumption by 10% this month
        <span class="item-note">
          <i class="ion-happy-outline balanced"></i> 60%, <i class="ion-load-a balanced"></i> 18 (of 30) days 
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-person-stalker"></i>
        Save for 10 solar panels for your building
        <span class="item-note">
          <i class="ion-happy-outline balanced"></i> 1.5 panels saved, <i class="ion-person-add balanced"></i> 64, <i class="ion-log-in balanced"></i> May 10
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">Friends' Challenges (38)</div>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-person"></i>
        Get 2 new users to YouPower; win <b class="ion-leaf balanced"> 50</b>
        <span class="item-note">
          Erik <i class="ion-happy-outline balanced"></i> 50%; Julian <i class="ion-happy-outline balanced"></i> 100%
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-person-stalker"></i>
        Save for 5 solar speed detectors to be intalled in the neighborhood
        <span class="item-note">
          <i class="ion-happy-outline balanced"></i> 10%, <i class="ion-person-add balanced"></i> 469, <i class="ion-log-in balanced"></i>  Apr 2
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-divider item-icon-right">
        <i class="icon ion-chevron-down icon-accessory"></i> 
        <span class="item-note">
          Show me more!
        </span>
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">Your Completed Challenges (3)</div>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-person-stalker"></i>
        Donate 500€ consumption saving to UNICEF
        <span class="item-note">
          You earned <b class="ion-leaf balanced"> 230</b>, <i class="ion-log-out balanced"></i>  Dec 2014
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-divider item-icon-right">
        <i class="icon ion-chevron-down icon-accessory"></i> 
        <span class="item-note">
          Show me more!
        </span>
      </a>
    </div>
    <a class="button button-full button-balanced" href="#">
      <i class="icon ion-plus"></i>
      Add Challenges
    </a>
  </ion-content>
</ion-view>
