<ion-view view-title="Household Actions">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Our Actions</div>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-person"></i>
        Mom (3 actions)
        <span class="badge badge-balanced">240</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-person"></i>
        Johan (2 actions)
        <span class="badge badge-balanced">165</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-plus"></i>
        Add family member
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">Our Energy Consumption</div>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-leaf"></i>
        needed to offset this month's carbon emission
        <span class="badge badge-balanced">5</span>
      </a>
      <a href="#" class="item">
        TODO: energy consumption graphs
      </a>
    </div>
  </ion-content>
</ion-view>
