<ion-view view-title="EnergyUP">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">
        <h1 class="text-center padding-vertical">
          EnergyUP
        </h1>
      </div>
      <h2 class="text-center">
        <i class="icon ion-earth"></i> Be more <span class="balanced">green.</span>
      </h2>
      <h2 class="text-center">
        <i class="icon ion-happy-outline"></i> Be more <span class="balanced">social.</span>
      </h2>
      <h2 class="text-center padding-bottom">
        <i class="icon ion-checkmark-circled"></i> Take actions!
      </h2>
      </div>
    </div>
    <div class="button-bar">
      <a class="button button-balanced" href="#/tab/actions" ng-click="changeLanguage('it')">Iniziare!</a>
      <a class="button button-balanced" href="#/tab/actions" ng-click="changeLanguage('en')">Get started!</a>
    </div>
  </ion-content>
</ion-view>
