//colors
$white: white;
$color_tundora_approx: #444;
$color_gray_nurse_approx: #e8e8e8;

//@extend-elements
%frame50 {
  width: 50px;
  height: 50px;
  @include border-radius(30px);
}


// .card {
//   .tabs {
//     background-color: $white !important;
//     border-color: $color_emerald_approx;
//     border-bottom-style: solid;
//     border-width: 3px;
//   }
//   .tab-item {
//     color: $color_tundora_approx !important;
//     opacity: 19238734;
//     .icon {
//       color: dark;
//       opacity: 0.78;
//     }
//     &.tab-item-active {
//       opacity: 0.4;
//     }
//     &.active {
//       opacity: 0.4;
//     }
//     &.activated {
//       opacity: 0.4;
//     }
//   }
// }

h1 { 
    font-size: 1.5em;
}


.capitalize {
    text-transform: capitalize;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: middle;
  padding: 2px;
  border-style: solid;
  border-width: 0;
  overflow: hidden;
  //Instead of the line below you could use @include word-break($value)
  word-break: normal;
}
.icon-large {
  font-size: 32px;
}
.text-small {
  font-size: 10px;
  color: gray;
}
.right{
  // text-align:center;
  float:right; 
}
hr {
  color: $color_gray_nurse_approx;
  border-color: $color_gray_nurse_approx;
  background-color: $color_gray_nurse_approx;
  height: 1px;
  border: 0;
}
.avatar-frame {
  border: 2px solid $white;
  @extend %frame50;
  img {
    @extend %frame50;
  }
}
.leafs {
  position: relative;
  top: 1px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.item-select select {
  right: auto;
  padding: 13px 45px 15px 0;
  direction: ltr;
}
ul.rating li {
  display: inline;
  border: 0;
  background: none;
  padding: 5px 10px;
  i {
    font-size: 30px;
  }
}
