//colors
$white: white;
$color_tundora_approx: #444;
$color_gray_nurse_approx: #e8e8e8;

//@extend-elements
%frame50 {
  width: 50px;
  height: 50px;
  @include border-radius(30px);
}


// .card {
//   .tabs {
//     background-color: $white !important;
//     border-color: $color_emerald_approx;
//     border-bottom-style: solid;
//     border-width: 3px;
//   }
//   .tab-item {
//     color: $color_tundora_approx !important;
//     opacity: 19238734;
//     .icon {
//       color: dark;
//       opacity: 0.78;
//     }
//     &.tab-item-active {
//       opacity: 0.4;
//     }
//     &.active {
//       opacity: 0.4;
//     }
//     &.activated {
//       opacity: 0.4;
//     }
//   }
// }

h1 { 
    font-size: 1.5em;
}
.capitalize {
    text-transform: capitalize;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: middle;
  padding: 2px;
  border-style: solid;
  border-width: 0;
  overflow: hidden;
  //Instead of the line below you could use @include word-break($value)
  word-break: normal;
}
.header{
  background-color: #f5f5f5;
  z-index: 3 !important;
}
.icon-large {
  font-size: 32px;
}
.text-small {
  font-size: 12px;
  color: gray;
}
.text-medium {
  font-size: 16px;
}
.text-medium-large {
  font-size: 18px;
}
.text-large {
  font-size: 32px;
}
.text-bold {
  font-weight: bold;
}
.space-bottom {
  margin-bottom: 6px;
}
.space-top {
  margin-top: 6px;
}
.button-top-right{
  float: right;
  position: absolute;
  top: 15px;
  right: 10px;
  // margin-bottom: 5px;
  width: 30%;
}
.button-right{
  float: right;
  width: 30%;
  // margin-bottom: 5px;
}
.button-40{ 
  width: 40%;
  margin-top: 5px;
}
hr {
  color: $color_gray_nurse_approx;
  border-color: $color_gray_nurse_approx;
  background-color: $color_gray_nurse_approx;
  height: 1px;
  border: 0;
}
.avatar-frame {
  border: 2px solid $white;
  @extend %frame50;
  img {
    @extend %frame50;
  }
}
.leafs {
  position: relative;
  top: 1px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
}
.leaves-nr {
  position: relative;
  top: -5px;
  right: 12px;
  font-size: 22px;
  // font-weight: bold;
  text-shadow:
    // -1px -1px 0 white,
    // 1px -1px 0 white,
    // -1px 1px 0 white,
    // 1px 1px 0 white ;  
    white 0px 0px 4px,   white 0px 0px 4px,   white 0px 0px 4px,
    white 0px 0px 4px,   white 0px 0px 4px,   white 0px 0px 4px,
    white 0px 0px 4px,   white 0px 0px 4px,   white 0px 0px 4px;
}
.item-select select {
  right: auto;
  padding: 13px 45px 15px 0;
  direction: ltr;
}
.errors {
  color: red;
  font-size: 14px;
}
.errors_icon {
  color: red;
  font-size: 20px;
}
.pos_left {
    position: relative;
    left: -20px;
}
.errors_icon_float_label {
    position: absolute;
    top: 35px;
    right: 10px;
}
.message {
    position: relative;
    left: 20px;
    color: gray;
    width: 90%;
}
ul.rating li {
  display: inline;
  border: 0;
  background: none;
  padding: 5px 10px;
  i {
    font-size: 30px;
  }
}
