<ion-view view-title="Current">
<ion-content>

<div from="actions action" provider="firebase" where="action.id=actionId">
<div class="list card">
  <div class="item item-divider item-text-wrap">Congratulations! </div>
  <div class="item item-body">
  Compleated action: {{action.title}}

 <!--  <p>{{action.description}}</p>
  <p><a href="#" class="subdued">{{action.participants}} Participants.</a> You started on {{action.date | date:'yyyy-MM-dd'}}.</p>

  <table width="100%">
  <tr>
    <td width="20%"> Impact</td>
    <td width="45%" style="font-size:24px;"><i class="ion-happy balanced" ng-repeat="i in getNumber(action.impact) track by $index"></i><i class="ion-load-c balanced" ng-repeat="i in getNumber(scale-action.impact) track by $index"></i></td> 
    <td rowspan="2" align="right" style="font-size:35px;"><i class="balanced" ><i class="icon ion-leaf balanced"></i> {{action.points}}</i></td>
  </tr>
  <tr>
    <td> Effort</td>
    <td style="font-size:24px;"><i class="ion-ios-heart balanced" ng-repeat="i in getNumber(action.effort) track by $index"></i><i class="ion-ios-heart-outline balanced" ng-repeat="i in getNumber(scale-action.effort) track by $index"></i></td> 
  </tr>
</table> -->

<div from="action.feedback feedback" where="feedback.userId = 1" auto-update="true" default="{userId:1}" auto-insert="true">
<div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Impact
    </div>
    <select data-value="feedback.impact">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Effort
    </div>
    <select data-value="feedback.effort">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </label>

  <p>what is your comments or tips to other users?</p>
  <label class="item item-input">
    <textarea data-value="feedback.comment" placeholder="Comments"></textarea>
  </label>

  <button ng-click="goForward()">Done</button>
  <button remove-from="action.feedback" ng-click="remove(feedback);goBack()">Cancel</button>
</div>
</div>





</div>
</div>
</div> 

</div>
</ion-content>
</ion-view>
