<ion-view view-title="Suggested Action">
<ion-content>


<div from="users user" where = "user.id=7654321" provider="firebase" loaded="init(user)">
<div from="actions action" where = "action.id=id" provider="firebase">

<div class="list card">
  <div class="item item-divider item-text-wrap"><h2>{{action.title}}</h2></div>
  <div class="item item-body">
<ng-include src="'app/yourActions/actionDescription.html'"></ng-include>
<p><a href="#" class="subdued">{{action.participants}} Participant{{action.participants > 1 ? 's' : ''}}.</a></p>
  <button class="button button-large button-full button-balanced" insert-into="user.actionsDoing" ng-click="insert({id:action.id, date: Date.now()});nextTip()">
  I already do this. 
</button>
<button class="button  button-large button-full button-balanced" insert-into="user.actionsActive" ng-click="insert({id:action.id, date: Date.now()});nextTip(true)">
  I want to do this.
</button>
<button class="button button-large button-full button-balanced" insert-into="user.actionsNotInterested" ng-click="insert({id:action.id, date: Date.now()});nextTip()">
  I don't want to do this.
</button>
<button class="button button-large button-full button-balanced" insert-into="user.actionsNA" ng-click="insert({id:action.id, date: Date.now()});nextTip()">
  This doesn't apply to me. 
</button>


</div>
</div> 

</div>
</div>


</ion-content>
</ion-view>
