<ion-view view-title="Current Actions ({{_.size(user.actionsActive)}})">
<ion-content>
<ion-slide-box active-slide="slideIdx" does-continue="true" show-pager="false">
<ion-slide ng-repeat="act in user.actionsActive track by $index">
<!-- ng-repeat="(idx, action) in actions"> -->
<div from="actions action"  provider="firebase" where="action.id=act.id">

<div class="list card">
  <div class="item item-divider item-text-wrap">{{$parent.$index + 1}}. {{action.title}}</div>
  <div class="item item-body">
<ng-include src="'app/yourActions/actionDescription.html'"></ng-include>
<p><a href="#" class="subdued">{{action.participants}} Participants.</a> You started on {{action.date | date:'yyyy-MM-dd'}}.</p>
</div>
</div> 

<div class="list card">
<div class="item item-icon-left item-divider item-text-wrap">How are you doing?<i class="icon ion-ios-help balanced" style="font-size:35px;"></i> </div>
<i class="item item-checkbox checkbox-balanced item-text-wrap">
     <label class="checkbox">
       <input type="checkbox" ng-model="actionDone" ng-change="actionCompleted(action,actionDone)">
     </label>
     I have done this<i ng-show="action.regular"> regularly for 3<i class="ion-ios-plus-empty"></i> weeks</i>.
  </i>
  <i class="item item-checkbox checkbox-balanced item-text-wrap" >
     <label class="checkbox">
       <input type="checkbox" ng-model="actionCanceled" ng-change="actionDone = !actionCanceled">
     </label>
     I don't like to do this anymore.
  </i>

  
</div>

<div class="list card">
<div class="item item-divider tabs tabs-secondary tabs-icon-left">
  <a class="tab-item" href="#">
    <i class="icon ion-thumbsup"></i>
    {{action.like}} Like 
  </a>
  <a class="tab-item" href="#">
    <i class="icon ion-chatbox"></i>
    {{action.comments.length}} Comments
  </a>
  <a class="tab-item" href="#">
    <i class="icon ion-share"></i>
    {{action.share}} Share
  </a>
</div>
<div class="item item-avatar item-text-wrap" ng-repeat="comment in action.comments" >
  <img ng-src="img/{{comment.name}}.jpg"><h3>{{comment.name}}</h3>
  <p>{{comment.description}}</p>
</div>
</div>
</div>
</ion-slide>
</ion-slide-box>
</ion-content>
</ion-view>
