<ion-view view-title="CIVIS">
<ion-content class="padding">

  <div class="list card">
    <div class="item item-divider">
      <h1 class="text-center">  <!-- padding-vertical -->
        YouPower
      </h1>
    </div>
    <h1 class="text-center">
      <i class="icon ion-earth"></i> Be more <span class="balanced">green.</span><br/>
      <i class="icon ion-happy-outline"></i> Be more <span class="energized">social.</span><br/>
      <i class="icon ion-checkmark-circled"></i> Take <span class="positive">actions!</span>
    </h1>
  </div>
  <!-- or
  <h2 class="text-center">
    <i class="icon ion-earth balanced"></i> Be more green.</span><br/>
    <i class="icon ion-happy-outline energized"></i> Be more social.<br/>
    <i class="icon ion-checkmark-circled positive"></i> Take actions!
  </h2> -->
 <!--  <div class="item  item-text-wrap">
    <h3>To test the prototype:</h3>
    <p>1. Please use a mobile phone, or adjust your browser (preferrable Chrome) to mobile screen size.</p>
    <p>2. Use your <i>Email address</i> to create or retrieve an account.</p>
  </div> -->

  <div class="button-bar">
  <a ng-click="gotoSignin()" class="button button-balanced text-bold">Member login</a>
</div>
  <form class="list card" name="input">
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="email" name="email" placeholder="Your email address" ng-model="loginData.emailAddress" ng-change="clearSigninClicked()" required>
      <span class="errors_icon pos_left" ng-show="input.email.$error.required || input.email.$error.email"><i class="icon ion-alert-circled"></i></span>
    </label>
    <label class="item item-input">
      <span class="input-label">Name</span>
      <input type="text" name="name" placeholder="Your name" ng-model="loginData.name" ng-change="clearSigninClicked()" required>
      <span class="errors_icon pos_left" ng-show="input.name.$error.required"><i class="icon ion-alert-circled"></i></span>
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-minlength="6" name="password" placeholder="Select your password" ng-model="loginData.password" ng-change="comparePasswords()" required>
      <span class="errors_icon pos_left" ng-show="input.password.$error.required || input.password.$error.minlength"><i class="icon ion-alert-circled"></i></span>
    </label>
    <label class="item item-input">
      <span class="input-label"> </span>
      <input type="password" name="password2" placeholder="Repeat your password" ng-model="loginData.password2" ng-change="comparePasswords()" required>
      <span class="errors_icon pos_left" ng-show="!isPasswordsSame"><i class="icon ion-alert-circled"></i></span>
    </label>
  </form>

  <div class="button-bar">
    <a class="button button-dark text-bold" ng-disabled="!_.isEmpty(input.$error) || !isPasswordsSame" ng-click="signup(input.$error)">Sign up</a>
  </div>

  <div>
    <p class="text-center" ng-show="signinClicked && isRejected">
      <span class="errors text-center" ></br>Hmm, that's not the right Email/Password.</br> Please try again or </span>
      <a href="#" class="errors">request a new password</a>.
    </p>
  </div>

</ion-content>
</ion-view>
