<ion-view view-title="CIVIS">
<ion-content class="padding">

  <div class="list card">
    <div class="item item-divider">
      <h1 class="text-center">  <!-- padding-vertical -->
        YouPower
      </h1>
    </div>
    <!-- HIDDEN FOR SWEDISH TESTBED -->
    <h1 class="text-center" ng-hide="testbed.isStockholm()">
      <i class="icon ion-earth"></i> <span translate>BE_MORE_GREEN</span><br/>
      <i class="icon ion-happy-outline"></i> <span translate>BE_MORE_SOCIAL</span><br/>
      <i class="icon ion-checkmark-circled"> <span translate>TAKE_ACTIONS</span></i>
    </h1>
    <!-- END HIDDEN -->
    <p class="message text-center" translate>TERMS_CONDITION</p>
  </div>
  <form class="list" name="input">
    <label class="item item-input">
      <span class="input-label" translate>Email</span>
      <input type="email" name="email" placeholder={{"Your_email_address"|translate}} ng-model="loginData.emailAddress" ng-change="clearSigninClicked()" required>
      <span class="errors_icon pos_left" ng-show="input.email.$error.required || input.email.$error.email"><i class="icon ion-alert-circled"></i></span>
    </label>
    <label class="item item-input">
      <span class="input-label" translate>Name</span>
      <input type="text" name="name" placeholder={{"Your_name"|translate}} ng-model="loginData.name" ng-change="clearSigninClicked()" required>
      <span class="errors_icon pos_left" ng-show="input.name.$error.required"><i class="icon ion-alert-circled"></i></span>
    </label>
    <label class="item item-input">
      <span class="input-label" translate>Password</span>
      <input type="password" ng-minlength="6" name="password" placeholder={{"Select_your_password"|translate}} ng-model="loginData.password" ng-change="comparePasswords()" required>
      <span class="errors_icon pos_left" ng-show="input.password.$error.required || input.password.$error.minlength"><i class="icon ion-alert-circled"></i></span>
    </label>
    <label class="item item-input">
      <span class="input-label"> </span>
      <input type="password" name="password2" placeholder={{"Repeat_your_password"|translate}} ng-model="loginData.password2" ng-change="comparePasswords()" required>
      <span class="errors_icon pos_left" ng-show="!isPasswordsSame"><i class="icon ion-alert-circled"></i></span>
    </label>
    <!-- SWEDISH TESTBEDS ONLY -->
    <div ng-if="testbed.isStockholm()">
      <div class="item item-divider" translate>Household_Profile</div>
      <label class="item item-input" >
        <span class="input-label" translate>COOPERATIVE</span>
        <span class="input-label" translate>{{cooperative.name}}</span>
      </label>
      <div class="item item-input" ng-if="cooperative.hasHouseholdData">
        <span class="input-label" ng-click="showHouseholdIdInfo(cooperative)">{{"HOUSEHOLD_ID" | translate}}
          <i class="icon ion-information-circled positive" ></i>
        </span>
        <input type="text" name="identifier" placeholder='{{"HOUSEHOLD_ID_PLACEHOLDER_" + cooperative.getStringId() |translate}}' ng-model="loginData.household.uniqueCode" required>
        <span class="errors_icon pos_left" ng-show="input.identifier.$error.required"><i class="icon ion-alert-circled"></i></span>
      </div>
      <label class="item item-input">
        <span class="input-label" translate>Size</span>
        <input type="number" ng-model="loginData.household.size" ng-change="setHouseInfoChanged()" placeholder={{"SIZE_M2"|translate}}>
      </label>
      <div class="item item-divider" translate>Household_Composition</div>
      <label class="item item-input">
        <span class="input-label" translate>Adults</span>
        <input type="number" ng-model="loginData.household.composition.numAdults" ng-change="setHouseholdCompositionChanged()" placeholder={{"Number_of_Adults"|translate}}>
      </label>
      <label class="item item-input">
        <span class="input-label" translate>Children</span>
        <input type="number" ng-model="loginData.household.composition.numChildren" ng-change="setHouseholdCompositionChanged()" placeholder={{"Number_of_Children"|translate}}>
      </label>
    </div>
    <!-- END OF SWEDISH TESTBEDS ONLY -->
    <!-- HIDDEN FOR SWEDISH TESTBED -->
    <label class="item item-input item-select" ng-hide="testbed.isStockholm()">
      <span class="input-label" translate>Preferred_Language</span>
      <select ng-model="loginData.language" ng-change="languageChanged()">
        <option translate>English</option>
        <option translate>Italian</option>
        <option translate>Swedish</option>
      </select>
    </label>
    <!-- END HIDDEN -->
    <a class="button button-dark button-full text-bold" ng-disabled="!_.isEmpty(input.$error) || !isPasswordsSame" ng-click="signup(input.$error)" translate>Sign_up</a>
    <p class="errors text-center" ng-show="signinClicked && isRejected">
      {{loginData.err}}. <span translate>TRY_AGAIN</span>
    </p>
  </form>

  <a ui-sref="welcome" class="button button-balanced button-full text-bold"translate>LOGIN_HERE</a>


</ion-content>
</ion-view>
