<ion-view view-title="CIVIS">
<ion-content class="padding">

  <div class="list card">
    <div class="item item-divider">
      <h1 class="text-center">  <!-- padding-vertical -->
        YouPower
      </h1>
    </div>
    <h1 class="text-center">
      <i class="icon ion-earth"></i> <span translate>BE_MORE_GREEN</span><br/>
      <i class="icon ion-happy-outline"></i> <span translate>BE_MORE_SOCIAL</span><br/>
      <i class="icon ion-checkmark-circled"> <span translate>TAKE_ACTIONS</span></i> 
    </h1>
    <p class="message text-center" translate>TERMS_CONDITION</p>
  </div>
  <form class="list" name="input">
    <label class="item item-input">
      <span class="input-label" translate>Email</span>
      <input type="email" name="email" placeholder={{"Your_email_address"|translate}} ng-model="loginData.emailAddress" ng-change="clearSigninClicked()" required>
      <span class="errors_icon pos_left" ng-show="input.email.$error.required || input.email.$error.email"><i class="icon ion-alert-circled"></i></span>
    </label>
    <label class="item item-input">
      <span class="input-label" translate>Name</span>
      <input type="text" name="name" placeholder={{"Your_name"|translate}} ng-model="loginData.name" ng-change="clearSigninClicked()" required>
      <span class="errors_icon pos_left" ng-show="input.name.$error.required"><i class="icon ion-alert-circled"></i></span>
    </label>
    <label class="item item-input">
      <span class="input-label" translate>Password</span>
      <input type="password" ng-minlength="6" name="password" placeholder={{"Select_your_password"|translate}} ng-model="loginData.password" ng-change="comparePasswords()" required>
      <span class="errors_icon pos_left" ng-show="input.password.$error.required || input.password.$error.minlength"><i class="icon ion-alert-circled"></i></span>
    </label>
    <label class="item item-input">
      <span class="input-label"> </span>
      <input type="password" name="password2" placeholder={{"Repeat_your_password"|translate}} ng-model="loginData.password2" ng-change="comparePasswords()" required>
      <span class="errors_icon pos_left" ng-show="!isPasswordsSame"><i class="icon ion-alert-circled"></i></span>
    </label>
    <label class="item item-input item-select">
      <span class="input-label" translate>Preferred_Language</span>
      <select ng-model="loginData.language" ng-change="languageChanged()">
        <option translate>English</option>
        <option translate>Italian</option>
        <option translate>Swedish</option>
      </select>
    </label>

    <a class="button button-dark button-full text-bold" ng-disabled="!_.isEmpty(input.$error) || !isPasswordsSame" ng-click="signup(input.$error)" translate>Sign_up</a>
    <p class="errors text-center" ng-show="signinClicked && isRejected">
      {{loginData.err}}. <span translate>TRY_AGAIN</span>
    </p>
  </form> 

  <a ng-click="gotoSignin()" class="button button-balanced button-full text-bold"translate>LOGIN_HERE</a>


</ion-content>
</ion-view>
