<ion-view view-title="CIVIS">
<ion-content class="padding">


<div class="list card">
  <div class="item item-divider">
    <h1 class="text-center">  <!-- padding-vertical -->
      EnergyUP
    </h1>
  </div>
  <h2 class="text-center">
    <i class="icon ion-earth"></i> Be more <span class="balanced">green.</span>
  </h2>
  <h2 class="text-center">
    <i class="icon ion-happy-outline"></i> Be more <span class="balanced">social.</span>
  </h2>
  <h2 class="text-center ">
    <i class="icon ion-checkmark-circled"></i> Take actions!
  </h2>
</div>

<div class="list card">
  <div class="item  item-text-wrap">
    <h3>To test the prototype:</h3> 
    <table>
      <tr>
        <td><p>1.</p></br></p></td>
        <td><p>Please adjust your browser (preferrable Chrome) to mobile screen size.</p></td>
      </tr><tr>
      <td><p>2.</p></br></br></td>
      <td><p>Use your <i>Email address</i> to create or retrieve an account, or use the default account "jmayber@energyup.eu".</p></td>
    </tr>
  </table>

</div>
<label class="item item-input">
  <span class="input-label">Username</span>
  <input type="text" placeholder="Your Email address" ng-model="emailAddress">
</label>
</div>

<div class="button-bar"> <!-- href="#/tab/actions/0"  -->
  <a class="button button-balanced" insert-into="users" provider="firebase" ng-click="setCurrentUser({username:emailAddress,lang:'it'});changeLanguage('it');takeActions()">Iniziare!</a>
  <a class="button button-balanced" insert-into="users" provider="firebase" ng-click="setCurrentUser({username:emailAddress,lang:'en'});changeLanguage('en');takeActions()" >Get started!</a>
</div>

</ion-content>
</ion-view>
