<ion-view>
  <ion-nav-title>{{cooperative.name}}</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <a class="button button-clear button-positive" ng-click="addAction()" ng-if="!action._id">
      {{'COOPERATIVE_ADD_ACTION' | translate}}
    </a>
    <a class="button button-clear button-positive" ng-click="updateAction()" ng-if="action._id" translate>
      Save
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label item-text-wrap" ng-click="selectActionType()">
        <span class="input-label">{{ 'COOPERATIVE_ACTION_TYPE' | translate }}*</span>
        <p >
          <span ng-repeat="id in action.types">{{actionTypes.getById(id).name}}{{$last?'':', '}}</span>
        </p>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">{{'COOPERATIVE_ACTION_DATE_COMPLETED' | translate}}*</span>
        <input type="month" ng-model="action.date">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">{{'COOPERATIVE_ACTION_TITLE' | translate}}*</span>
        <input type="text" ng-model="action.name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">{{'COOPERATIVE_ACTION_COST' | translate}} (SEK)</span>
        <input type="text" placeholder="" ng-model="action.cost">
      </label>
    </div>
    <label class="item item-input item-stacked-label">
      <span class="input-label">{{'COOPEARTIVE_ACTION_DESCRIPTION' | translate}}</span>
      <textarea rows="15" ng-model="action.description"></textarea>
    </label>
  </ion-content>
</ion-view>
