<ion-view view-title="Housing Cooperatives">
  <ion-content class="full-height">
     <div class="button-bar">
      <a class="button" ng-class="{active:view=='map'}" ng-click="view = 'map'">Map</a>
      <a class="button" ng-class="{active:view=='list'}" ng-click="view = 'list'">List</a>
    </div>
    <ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">Show only similar</ion-toggle>
    <div id="map" data-tap-disabled="true" ng-if="view=='map'" ng-controller="CooperativesMapCtrl"></div>
    <div ng-if="view=='list'">
        <div class="item" ng-repeat="cooperative in cooperatives">
          <!-- <span class="badge badge-energized">1</span> -->
          <a ui-sref="^.show({id:cooperative._id})">
          <h2>
            {{cooperative.name}}
          </h2>
          </a>
      </div>
    </div>
  </ion-content>
</ion-view>
