<ion-view view-title="My Cooperative">
  <ion-content>
    <div class="list">
      <div class="item item-divider">{{cooperative.name}}</div>
      <div class="item item-body">
        <div class="row">
          <div class="col">
            <i class="icon ion-home"></i>
            91 kWh/m2
          </div>
          <div class="col">
            <span class="badge badge-energized">{{cooperative.actions.length}}</span>
            Energy actions
          </div>
        </div>
      </div>
      <div class="item">
        <div class="button-bar">
          <a class="button" ng-class="{active:period=='monthly'}" ng-click="togglePeriod()">Monthly</a>
          <a class="button" ng-class="{active:period=='yearly'}" ng-click="togglePeriod()">Yearly</a>
        </div>
        <div class="button-bar padding-top padding-bottom">
          <a class="button" ng-class="{active:isActive('hh')}" ng-click="toggleType('hh')">Heating & Hot water</a>
          <a class="button" ng-class="{active:isActive('el')}" ng-click="toggleType('el')">Electricity</a>
        </div>
        <div>
         <label class="item item-input item-select">
          <div class="input-label">
            Compare to
          </div>
          <select ng-model="settings.compareTo" ng-change="changeComparison()">
            <option ng-repeat="option in comparisons" value="ng-option">{{option.name}}</option>
          </select>
        </label>
        <div class="padding-top">
          <h2>Energy use (MWh)</h2>
          <table>
            <tr>
              <td class="padding-horizontal padding-top text-right">
                max:
              </td class="padding-horizontal">
              <td>
                <b>{{getMainMax().y}}</b> ({{getMainMax().x | date:"MMM yyyy"}})
              </td>
              <td class="padding-horizontal" ng-if="settings.compareTo">
                <b>{{getComparedMax().y}}</b> ({{getComparedMax().x | date:"MMM yyyy"}})
              </td>
            </tr>
            <tr>
              <td class="padding-horizontal text-right">
                min:
              </td class="padding-horizontal">
              <td>
                <b>{{getMainMin().y}}</b> ({{getMainMin().x | date:"MMM yyyy"}})
              </td>
              <td class="padding-horizontal" ng-if="settings.compareTo">
                <b>{{getComparedMin().y}}</b> ({{getComparedMin().x | date:"MMM yyyy"}})
              </td>
            </tr>
            <tr>
              <td class="padding-horizontal padding-bottom text-right">
                average:
              </td class="padding-horizontal">
              <td>
                <b>{{getMainAvg() | number:2}}</b>
              </td>
              <td class="padding-horizontal" ng-if="settings.compareTo">
                <b>{{getComparedAvg() | number:2}}</b>
              </td>
            </tr>
          </table>
        </div>
      <div class="chart-container">
        <a class="button button-clear button-stable chart-navigation ion-chevron-left" ng-click="moveBwd()"></a>
        <highchart id="chart" config="chartConfig"></highchart>
        <a class="button button-clear button-stable chart-navigation ion-chevron-right" ng-click="moveFwd()"></a>
      </div>
      </div>
      <a ng-repeat="action in cooperative.actions" class="item" ng-click="action.showExtra = !showExtra">
        <span class="badge badge-energized">{{cooperative.actions.length - $index}}</span>
        <h2>
          {{action.name}}
        </h2>
        <p>
          {{action.date | date:"yyyy-MM-dd"}}
        </p>
        <p ng-show="showExtra">
          {{action.description}}
        </p>
      </a>
      <div>
        <input ng-model="action.name"/>
        <input ng-model="action.description"/>
        <input ng-model="action.date"/>
        <a class="button" ng-click="addAction(action)">Add action</a>
      </div>
    </div>
  </ion-content>
</ion-view>
