<ion-view view-title="{{cooperative.name}}" ca>
  <ion-nav-buttons side="secondary">
    <a ui-sref=".edit" class="button button-clear button-positive">
      Edit
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div class="item item-body">
        <div class="row">
          <div class="col">
            <i class="icon ion-home"></i>
            91 kWh/m2
          </div>
          <div class="col">
            <span class="badge badge-energized">{{cooperative.actions.length}}</span>
            Energy actions
          </div>
        </div>
      </div>
      <div class="item">
        <div class="button-bar">
          <a class="button" ng-class="{active:settings.granularity=='monthly'}" ng-click="changeGranularity('monthly')">Monthly</a>
          <a class="button" ng-class="{active:settings.granularity=='yearly'}" ng-click="changeGranularity('yearly')">Yearly</a>
        </div>
        <div class="button-bar padding-top padding-bottom">
          <a class="button" ng-class="{active:settings.type == 'heating'}" ng-click="changeType('heating')">Heating & Hot water</a>
          <a class="button" ng-class="{active:settings.type == 'electricity'}" ng-click="changeType('electricity')">Electricity</a>
        </div>
        <div>
         <label class="item item-input item-select">
          <div class="input-label">
            Compare to
          </div>
          <select ng-model="settings.compareTo" ng-change="changeComparison()">
            <option ng-repeat="option in comparisons" value="{{option.name}}">{{option.name}}</option>
          </select>
        </label>
        <div class="padding-top">
          <h2>Energy use (MWh)</h2>
          <table>
            <tr>
              <td class="padding-horizontal padding-top text-right">
                max:
              </td class="padding-horizontal">
              <td>
                <b>{{getMainMax().y | number:2}}</b> ({{getMainMax().x | date:"MMM yyyy"}})
              </td>
              <td class="padding-horizontal" ng-if="settings.compareTo">
                <b>{{getComparedMax().y | number:2}}</b> ({{getComparedMax().x | date:"MMM yyyy"}})
              </td>
            </tr>
            <tr>
              <td class="padding-horizontal text-right">
                min:
              </td class="padding-horizontal">
              <td>
                <b>{{getMainMin().y | number:2}}</b> ({{getMainMin().x | date:"MMM yyyy"}})
              </td>
              <td class="padding-horizontal" ng-if="settings.compareTo">
                <b>{{getComparedMin().y | number:2}}</b> ({{getComparedMin().x | date:"MMM yyyy"}})
              </td>
            </tr>
            <tr>
              <td class="padding-horizontal padding-bottom text-right">
                average:
              </td class="padding-horizontal">
              <td>
                <b>{{getMainAvg() | number:2}}</b>
              </td>
              <td class="padding-horizontal" ng-if="settings.compareTo">
                <b>{{getComparedAvg() | number:2}}</b>
              </td>
            </tr>
          </table>
        </div>
        <div class="chart-container">
          <a class="button button-clear button-stable chart-navigation ion-chevron-left" ng-click="move(-1)" ng-disabled="chartConfig.loading" ng-hide="settings.granularity=='yearly'"></a>
          <highchart id="chart" config="chartConfig"></highchart>
          <a class="button button-clear button-stable chart-navigation ion-chevron-right" ng-click="move(1)" ng-disabled="chartConfig.loading" ng-hide="settings.granularity=='yearly'"></a>
        </div>
      </div>
      <div ng-include src="'app/cooperative/actions.html'"></div>
    </div>
  </ion-content>
</ion-view>
