<ion-view view-title="Action Not Completed">
<ion-content class="padding">

  <div class="list card">
    <div class="item item-text-wrap">
      Oops! Sorry to hear that you are going to abandon the action: {{currentAction.name}}.
      <span class="balanced">You are so close to finish!</span> 
    </br>
    You still can earn <i class="icon ion-leaf icon-large balanced"></i> <span class="balanced text-large">{{feedbackPoints}}</span> by filling the feedback form. We'd love to hear from you and know how to improve.
  </div>
</div>

<button class="button button-full button-dark icon-left" ng-click="gotoYourActions();">
  <i class="icon ion-android-done"></i>
  <b>Click to Give Another Try</b>
</button>


  <div class="list card">
    <div class="item item-divider item-icon-left item-text-wrap">
      <i class="icon ion-android-bulb energized"></i>
      Feedback Form
    </div>
    <div class="item item-text-wrap">
     This action is not for you? Please select each of the following that is true to you: 
    </div>
    <ion-checkbox class="checkbox-balanced item-text-wrap" ng-change="deleteByVal(feedback,false)" ng-model="feedback.isNotUseful">This action is not useful.</ion-checkbox>
    <ion-checkbox class="checkbox-balanced item-text-wrap" ng-change="deleteByVal(feedback,false)" ng-model="feedback.isTooMuchEffort">This action takes too much effort.</ion-checkbox>
    <ion-checkbox class="checkbox-balanced item-text-wrap" ng-change="deleteByVal(feedback,false)" ng-model="feedback.isTooExpensive">This action is too expensive.</ion-checkbox>
    <ion-checkbox class="checkbox-balanced item-text-wrap" ng-change="deleteByVal(feedback,false)" ng-model="feedback.isNotAppliable">This action isn't appliable to you or your household any more.</ion-checkbox>
    <ion-checkbox class="checkbox-balanced item-text-wrap" ng-change="deleteByVal(feedback,false)" ng-model="feedback.doNotLike">You don't like to do this action.</ion-checkbox>

    <div class="item item-text-wrap">
      Any other reasons that made you abandon the action? Or do you have other comments? 
      <label class="item item-input">
        <textarea ng-model="feedback.text" placeholder="Please specify so we know how to improve."></textarea>
      </label>
    </div>

  </div>
  
  <div class="button-bar">
    <a class="button button-dark" ng-click="goBack()"><b>Cancel</b></a>
    <a class="button button-dark" ng-click="abandoned()"><b>Done</b></a>
  </div>
    <!-- user.points=user.points+Math.round(action.points/5); -->

</ion-content>
</ion-view>
