<table width="100%">
  <tr>
    <td width="20%" translate>Impact</td>
    <td width="45%" style="font-size:24px;"><i class="ion-ios-circle-filled" ng-repeat="i in getNumber(action.impact) track by $index"></i><i class="ion-ios-circle-outline" ng-repeat="i in getNumber(scale-action.impact) track by $index"></i></td> 
    <td rowspan="2" align="right" class="balanced text-large"><i class="balanced" ><i class="icon ion-leaf"></i> {{action.impact + action.effort}}</td>
  </tr>
  <tr>
    <td translate>Effort</td>
    <td style="font-size:24px;"><i class="ion-ios-circle-filled" ng-repeat="i in getNumber(action.effort) track by $index"></i><i class="ion-ios-circle-outline" ng-repeat="i in getNumber(scale-action.effort) track by $index"></i></td> 
  </tr>
</table>
<p>{{action.description}}</p>
  