<ion-view cache-view="false">
<ion-nav-title>
<span translate>{{actionsType}}</span> ({{_.size(actionsList)}})
</ion-nav-title>
<ion-content class="padding">

<ion-slide-box active-slide="slideIdx" does-continue="false" show-pager="false">
<ion-slide ng-repeat="action in actionsList"> <!-- track by $index -->

<div class="list card">
  <div class="item item-divider item-text-wrap">
    {{$index + 1}}. {{actions[action._id].name}}
  </div>
  <div class="item item-body">
    <ng-include src="'app/actions/actionDescription.html'"></ng-include>
    <span class="text-small">
      <span ng-if="action.latestState==='inProgress'"><span translate>{{action.startedDate.length>1? 'You_restarted_on' : 'You_started_on'}}</span> {{action.startedDate[action.startedDate.length-1] | date: "yyyy-MM-dd"}}</span>
      <!--  -->
      <span ng-if="action.latestState==='pending'"><span translate>Scheduled_for</span> {{_.last(action.postponedDate) | date: "yyyy-MM-dd"}}.</span>
      <span ng-if="action.latestState==='done'"><span translate>You completed on</span> {{_.last(action.doneDate) | date: "yyyy-MM-dd"}}.</span>
      <span ng-if="action.latestState==='alreadyDoing'"><span translate>You_confirmed_doing_this_on</span> {{_.last(action.alreadyDoingDate) | date: "yyyy-MM-dd"}}.</span>
      <span href="#" class="balanced">{{num=actions[action._id].numUsers}} <span translate>{{num > 1 ? 'Participants':'Participant'}}</span></span> 
    </span>
  </div>
</div>

<button class="button button-full icon-left button-dark" ng-if="actionsType == 'pending'" ng-click="takeActionNow(action);">
  <i class="icon ion-android-add"></i>
  <b translate>Take_this_Action_Now</b>
</button>

<button class="button button-full icon-left button-dark" ng-if="actionsType == 'completed'" ng-click="retakeAction(action);">
  <i class="icon ion-android-add"></i>
  <b translate>Retake_this_Action</b>
</button>

<div class="list card" ng-if="actionsType == 'current'">
  <div class="item item-divider item-text-wrap" translate>
    HOW_ARE_YOU
    <!--  <i class="icon ion-ios-chatbubble-outline balanced" style="font-size:35px;"></i> -->
  </div>

  <a class="item item-icon-left item-text-wrap" ng-click="actionCompleted(action)">
   <i class="icon ion-android-done positive"></i>
   <span translate translate-values="{ number: '{{routineActionDuration}}'}">HAVE_DONE_THIS</span>
 </a>
 <a class="item item-icon-left item-text-wrap" ng-click="inputDaysAndReschedule(action)">
  <i class="icon ion-more balanced"></i>
  <span translate>POSTPONE_THIS</span>
</a>
 <a class="item item-icon-left item-text-wrap" ng-click="actionAbandoned(action)">
  <i class="icon ion-android-close energized"></i>
  <span translate>NOT_WANT_TO_DO_ANYMORE</span>
</a>
</div>

<button class="button button-full button-dark icon-left" ng-click="gotoYourActions();">
  <i class="icon ion-ios-arrow-back"></i>
  <b translate>Back to Your Actions</b>
</button>

<div class="list card">
  <div class="item item-divider tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" ng-click="likeAction(actions[action._id])">
      <i class="icon ion-thumbsup"></i>
      {{num2=actions[action._id].numLikes}} <span translate>{{num2 > 1 ? 'Likes':'Like'}}</span>
    </a>
    <a class="tab-item" ng-click="comment.show=!comment.show">
      <i class="icon ion-chatbox"></i>
      {{size=actions[action._id].numComments}} <span translate>{{size > 1 ? 'Comments' : 'Comment'}}</span>
    </a>
    <a class="tab-item" ng-click="shareClicked()">
      <i class="icon ion-share"></i>
      {{num3=actions[action._id].shares}} <span translate>{{num3 > 1 ? 'Shares':'Share'}}</span>
    </a>
  </div>
  <p class="message" ng-show="share.err" translate>{{share.err}}</p>
  <div class="item item-text-wrap" ng-show="share.show">
    <label class="item-input">
      <textarea type="text" ng-model="share.text" placeholder={{"SHARE_MESSAGE"|translate}}></textarea>
    </label>
    <div class="item item-thumbnail-left">
      <img src="/img/eco.jpg">
      <h2 translate>{{share.name}}</h2>
      <p><span translate>{{share.description}}</span>
      <span translate>MY_CURRENT_ACTION</span> {{actions[action._id].name}}</p>
    </div>
    <button class="button button-small button-dark button-right " ng-disabled="!share.enabled" ng-click="fbShare(action)" translate>Share</button>
    <p> &nbsp; <!-- dont remove this --> </p>
  </div>
  <div class="item item-text-wrap" ng-show="comment.show">
    <label class="item-input">
      <textarea type="text" ng-model="comment.text" placeholder={{"Give_your_comment"|translate}}></textarea>
    </label>
    <button class="button button-small button-dark button-right " ng-disabled="comment.text === ''" ng-click="postComment(action)" translate>Post</button>
    <p> &nbsp; <!-- dont remove this --> </p>
  </div>
  <div class="item item-avatar item-text-wrap" ng-repeat="comment in comments | filter: {actionId: action._id, language: currentUser.profile.language}" > <!-- ng-if="comment.actionId == action._id" -->
    <img ng-if="comment.photo" ng-src="comment.picture">
    <img ng-if="!comment.photo" src="/img/eco.jpg">
    <h3>{{comment.name}} <span class="item-note" ng-if="comment.userId == currentUser._id" translate>You</span><span class="text-small">{{comment.date| date: "yyyy-MM-dd"}}</span></h3>
    <p>{{comment.comment}}</p>
    <a class="button button-clear button-stable icon-left ion-close button-small" ng-if="comment.userId == currentUser._id" ng-click="deleteComment(comment)" translate>Delete</a>
    <a class="button button-clear button-stable icon-left ion-thumbsup button-small" ng-click="likeComment(comment)"> {{num=comment.numLikes}} <span translate>{{num>1? 'Likes':'Like'}}</span></a>
  </div>
</div>

<ion-infinite-scroll ng-if="hasMoreComments(action._id)" on-infinite="loadMoreComments(action._id)" distance="10%">
</ion-infinite-scroll>

</ion-slide>
</ion-slide-box>
</ion-content>
</ion-view>
