<ion-view view-title="Suggested Action">
<ion-content>

	<div class="list card">
		<div class="item item-divider item-icon-left item-text-wrap">
			<i class="icon ion-ios-lightbulb-outline balanced"></i>
			<h2>{{action.title}}</h2>
		</div>
		<div class="item item-body">

			<ng-include src="'app/actions/actionDescription.html'"></ng-include>

			<p><a href="#" class="subdued">{{action.participants}} Participant{{action.participants > 1 ? 's' : ''}}.</a></p>

			<a class="item item-icon-left" insert-into="user.actionsDoing" ng-click="skipAction('already doing')">
				<i class="icon ion-ios-checkmark-outline positive"></i>
				I already do this.
			</a>
			<a class="item item-icon-left" insert-into="user.actionsActive" ng-click="addAction()">
				<i class="icon ion-leaf balanced"></i>
				I want to do this.
			</a>
			<a class="item item-icon-left" insert-into="user.actionsNotInterested" ng-click="skipAction('don not want')">
				<i class="icon ion-ios-close-outline assertive"></i>
				I don't want to do this.
			</a>
			<a class="item item-icon-left" insert-into="user.actionsNA" ng-click="skipAction('N/A')">
				<i class="icon ion-ios-minus-outline energized"></i>
				This doesn't apply to me.
			</a>

		</div>
	</div>


</ion-content>
</ion-view>
