<ion-view view-title="Action Completed">
<ion-content class="padding">

<div class="list card">
  <div class="item item-text-wrap">
    Congratulations! You will earn <b class="balanced text-large"><i class="icon ion-leaf icon-large balanced"></i> {{getActionPoints(currentAction)}}</b> for the action: {{currentAction.name}}<br/>
    You can earn <b class="balanced text-large"><i class="icon ion-leaf icon-large balanced"></i> {{getFormBonus(currentAction)}} extra</b> by filling the feedback form. We'd love to hear your opinion.
  </div>
</div>

<div class="list card">
  <div class="item item-divider item-icon-left item-text-wrap">
  <i class="icon ion-android-bulb positive"></i>
    Feedback Form
  </div>
  <div class="item item-text-wrap">
    Please rate the level of <b>effort</b> for this action from 1 (very low) to 5 (very high):
    <hr> 
    <rating class="text-center" ng-model="data.rating" max="data.max" ></rating>
  </div>
  <div class="item item-text-wrap">
    What are your comments or tips to other users in performing this action?
    <label class="item item-input">
      <textarea type="text" ng-model="feedback.text" placeholder="Give your comments here."></textarea>
    </label>
  </div>
    <!-- <div class="item item-text-wrap">
      Do you have any tips regarding energy-efficiency or load-shifting?
      <label class="item item-input">
        <textarea data-value="feedback.tips" placeholder="Give your tips here."></textarea>
      </label>
    </div>
    <div class="item item-text-wrap">
      Do you have any comments or suggestions regarding this EnergyUP App?
      <label class="item item-input">
        <textarea data-value="feedback.sugguestions" placeholder="Give your suggestions here."></textarea>
      </label>
    </div> -->
  </div>

  <div class="button-bar">
    <a class="button button-dark" ng-click="goBack()">Cancel</a>
    <a class="button button-dark" ng-click="completed()">Done</a>
  </div>
  <!-- 
  <a style="width:50%" class="button button-balanced" remove-from="action.feedback" ng-click="remove(feedback);goBack()">Cancel</a><a class="button button-balanced" style="width:50%" remove-from="user.actionsActive" from="user.actionsActive act" where="act.id=action.id" insert-into="user.actionsDone" loaded="_act={id:action.id, dateStarted:act.date, dateCompleted:Date.now()}" data-click="setPoints(user.points + action.points + (feedback.effort > 0 ? bonus : 0)); remove(act); insert(_act); completed(user)"> Done </a> -->

</ion-content>
</ion-view>
