<ion-view view-title="Action Not Completed">
<ion-content class="padding">

  <div class="list card">
    <div class="item item-text-wrap">
      Oops! Sorry to hear that you are going to abandon the action: {{currentAction.name}}.
      <span class="balanced">You are so close to finish!</span> 
    </br>
    You still can earn <b class="balanced text-large"><i style="font-size:32px;" class="icon ion-leaf icon-large balanced"></i> {{getFormBonus(currentAction)}}</b> by filling the feedback form. We'd love to hear from you and know how to improve.
  </div>
</div>

<button class="button button-full button-dark" ng-click="goForward();">
 Click to give another try.
</button>


  <div class="list card">
    <div class="item item-divider item-icon-left item-text-wrap">
      <i class="icon ion-android-bulb energized"></i>
      Feedback Form
    </div>
    <div class="item item-text-wrap">
     This action is not for you? Please select each of the following that are true to you: 
    </div>
    <ion-checkbox class="checkbox-balanced item-text-wrap" data-value="feedback.isNotUseful" ng-model="isNotUseful">This action is not useful.</ion-checkbox>
    <ion-checkbox class="checkbox-balanced item-text-wrap" data-value="feedback.isEffort" ng-model="isEffort">This action takes too much effort.</ion-checkbox>
    <ion-checkbox class="checkbox-balanced item-text-wrap" data-value="feedback.isExpensive" ng-model="isExpensive">This action is too expensive.</ion-checkbox>
    <ion-checkbox class="checkbox-balanced item-text-wrap" data-value="feedback.isNotAppliable" ng-model="isNotAppliable">This action isn't appliable to you or your household any more.</ion-checkbox>
    <ion-checkbox class="checkbox-balanced item-text-wrap" data-value="feedback.isNotLike" ng-model="isNotLike">You don't like to do this action.</ion-checkbox>

    <div class="item item-text-wrap">
      Any other reasons that made you abandon the action? Or do you have other comments? 
      <label class="item item-input">
        <textarea data-value="feedback.otherReasons" placeholder="Please specify so we know how to improve."></textarea>
      </label>
    </div>

  </div>
  
  <div class="button-bar">
    <a class="button button-dark" ng-click="goBack()">Cancel</a>
    <a class="button button-dark" ng-click="completed()">Done</a>
  </div>
    <!-- user.points=user.points+Math.round(action.points/5); -->

</ion-content>
</ion-view>
