<ion-view>
<ion-nav-title>
<span class="capitalize">{{actionsType}} Actions ({{_.size(actionsByType())}})</span>
</ion-nav-title>
<ion-content>
<ion-slide-box active-slide="slideIdx" does-continue="false" show-pager="false">
<ion-slide ng-repeat="action in actionsByType() track by $index">

<div class="list card">
  <div class="item item-divider item-text-wrap">
    {{$index + 1}}. {{action.name}}
  </div>
  <div class="item item-body">
    <ng-include src="'app/actions/actionDescription.html'"></ng-include>
    <span class="text-small">You started on {{action.startedDate | date: "yyyy-MM-dd"}}. <a href="#" class="balanced">{{num=action.participant}} Participant{{num>0 ? 's':''}}</a> 
    </span>
  </div>
</div>

<div class="list card" ng-if="actionsType == 'active'">
  <div class="item item-divider item-text-wrap">
    How are you doing?
    <!--  <i class="icon ion-ios-chatbubble-outline balanced" style="font-size:35px;"></i> -->
  </div>

  <a class="item item-icon-left item-text-wrap" ng-click="actionCompleted(action)">
   <i class="icon ion-android-done positive"></i>
   I have done this<i ng-show="action.category!='oneshot'"> regularly for 3<i class="ion-ios-plus-empty"></i> weeks</i>.
 </a>
 <a class="item item-icon-left item-text-wrap" ng-click="actionAbandoned(action)">
  <i class="icon ion-android-close energized"></i>
  I don't want to do this any more.
</a>
</div>

<div class="list card">
  <div class="item item-divider tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      {{action.rating}} Like
    </a>
    <a class="tab-item" ng-click="comment.show=!comment.show">
      <i class="icon ion-chatbox"></i>
      {{size = (comments | filter: {actionId: action._id}).length}} Comment{{size > 1 ? 's' : ''}}
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      {{action.share}} Share
    </a>
  </div>
  <div class="item item-text-wrap" ng-show="comment.show">
    <label class="item-input">
      <textarea type="text" ng-model="comment.text" placeholder="Give your comment ..."></textarea>
    </label><button class="button button-small button-dark button-right " ng-show="comment.text != ''" ng-click="postComment(action)"> Post </button>
    <p> &nbsp; <!-- dont remove this --> </p>
  </div>
  <div class="item item-avatar item-text-wrap" ng-repeat="comment in comments | filter: {actionId: action._id}" > <!-- ng-if="comment.actionId == action._id" -->
    <img ng-src="comment.picture"><h3>{{comment.name}} <span class="text-small">{{comment.date| date: "yyyy-MM-dd"}}</span></h3>
    <p>{{comment.comment}}</p>
    <a class="button button-clear button-stable icon-left ion-close button-small" ng-if="comment.userId == currentUser._id" ng-click="deleteComment(comment)"> Delete</a>
    <a class="button button-clear button-stable icon-left ion-thumbsup button-small" ng-click="likeComment(comment)"> {{num=comment.numLikes}} Like{{num>0? 's':''}}</a>
  </div>
</div>

</ion-slide>
</ion-slide-box>
</ion-content>
</ion-view>
