<ion-view view-title="Your Actions">
<ion-content class="padding">

<div class="list card">
  <div class="item item-divider">Current Actions ({{_.size(currentUser.actions.inProgress)}})</div>
  <a class="item item-icon-left item-icon-right" ng-repeat="action in currentUser.actions.inProgress" ng-href="#/app/actions/active/{{$index}}">
    <i class="icon ion-leaf balanced"></i>
    <span class="leafs balanced">
      {{getActionPoints(action)}}
    </span>{{action.name}}
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>
</div>

<div class="list card" ng-if="_.size(currentUser.actions.pending) > 0"> 
  <div class="item item-divider">Pending Actions ({{_.size(currentUser.actions.pending)}})</div>
  <a class="item item-icon-left item-icon-right" ng-repeat="action in currentUser.actions.pending" ng-href="#/app/actions/pending/{{$index}}">
    <!-- ng-repeat="(idx, action) in actions" > -->
    <span class="leafs balanced" >
      {{getActionPoints(action)}}
    </span>
    <i class="icon ion-leaf balanced"></i>
    {{action.name}}
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>
</div>

<div class="list card">
  <div class="item item-divider">Completed Actions ({{_.size(currentUser.actions.done)}})</div>
  <a href="#" class="item item-icon-left item-icon-right">
    <i class="icon ion-leaf balanced"></i>
    <span class="leafs balanced">
      <b>{{currentUser.leaves ? currentUser.leaves : 0}}</b>
    </span> {{currentUser.leaves > 1 ? 'Leaves':'Leaf'}} earned in total
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>
</div>

<button class="button icon-left button-full button-dark" ng-click="addActions()">
  <i class="icon ion-android-add"></i>
  Add actions
</button>

</ion-content>
</ion-view>
