<ion-view view-title="Your Actions" ng-init="nextTip(user)">
<ion-content class="padding">

<div class="list card">
  <div class="item item-divider">Past Actions ({{_.size(user.actionsDone)}})</div>
  <a href="#" class="item item-icon-left item-icon-right">
    <i class="icon ion-leaf balanced"></i>
    <span class="balanced">
      <b>{{user.points ? user.points : 0}}</b>
    </span> Leafs earned in total 
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>
</div>

<div class="list card">
  <div class="item item-divider">Current Actions ({{_.size(user.actionsActive)}})</div>
  <a class="item item-icon-left item-icon-right" ng-repeat="actionA in user.actionsActive" ng-href="#/tab/current-details/{{$index}}">
  <span from="actions action"  provider="firebase" where="action.id=actionA.id" >
    <!-- ng-repeat="(idx, action) in actions" > -->
    <span class="balanced" >
      <b>{{action.points}}</b>
    </span>
    <i class="icon ion-leaf balanced"></i>
    {{action.title}}
    <i class="icon ion-chevron-right icon-accessory"></i>
  </span>
</a>
</div>

<div class="list card">
  <div class="item item-divider">Pending actions (1)</div>
  <a href="#" class="item item-icon-left item-icon-right">
    <span class="balanced">
      <b>20</b>
    </span>
    <i class="icon ion-leaf balanced"></i>
    Defrost your freezer in 30 days.
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>
</div>
<a class="button button-full button-balanced" href="#">
  <i class="icon ion-plus"></i>
  Add actions
</a>

</ion-content>
</ion-view>
