
.item-select select {
  right: auto;
  padding: 13px 45px 15px 0px;
  direction: ltr;
}

.card .tabs  {
  background-color: white !important;
  border-color: #33cd5f;
  border-bottom-style: solid;
  border-width: 3px;
}

.card .tab-item {
  color: #444 !important;
  opacity: 19238734; 
}

.card .tab-item .icon {
  color: #33cd5f;
  opacity: 0.78;
}


.card .tab-item.tab-item-active, .card .tab-item.active, .card .tab-item.activated {
  opacity: 0.4;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}
td {
  vertical-align: middle;
  padding:2px 2px;
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
}

.icon-large {
  font-size:32px;
}

.text-large {
  font-size:24px;
}

hr {
    color: #E8E8E8;
    border-color: #E8E8E8;
    background-color: #E8E8E8;
    height:1px;
    border: 0;  
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}

ul.rating li i {
  font-size: 30px;
}


.avatar-frame{border: 2px solid white;}
.avatar-frame,.avatar-frame img{
  width: 50px;
  height: 50px;
  -webkit-border-radius: 30px; /* Saf3+, Chrome */
  border-radius: 30px; /* Opera 10.5, IE 9 */
  /*-moz-border-radius: 30px;  Disabled for FF1+ */
  }



/**/

/*p{
	font-size: 16px;
}
*/
