<ion-view view-title={{"Settings"|translate}}>
<ion-content class="padding">


<div class="list card">
  <div class="item item-divider item-text-wrap" translate>SUGGEST_ACTIONS</div>
  <ion-toggle ng-model="currentUser.profile.toRehearse.done" ng-change="toRehearseSet(); setPersonalProfileChanged()" toggle-class="toggle-balanced">
    <span translate>you_completed</span>
  </ion-toggle>
  <ion-toggle ng-model="currentUser.profile.toRehearse.declined" ng-change="toRehearseSet(); setPersonalProfileChanged()" toggle-class="toggle-balanced">
    <span translate>you_declined</span>
  </ion-toggle>
  <ion-toggle ng-model="currentUser.profile.toRehearse.na" ng-change="toRehearseSet(); setPersonalProfileChanged()" toggle-class="toggle-balanced">
    <span translate>were_not_appliable</span>
  </ion-toggle> 
</div>

</ion-content>
</ion-view>
