<ion-view view-title={{"Settings"|translate}}>
<ion-content class="padding">


<div class="list card">
  <div class="item item-divider item-text-wrap" translate>SUGGEST_ACTIONS</div>
  <ion-toggle ng-model="currentUser.profile.toRehearse.done" ng-change="toRehearseSet(); setPersonalProfileChanged()" toggle-class="toggle-balanced">
    <span translate>you_completed</span>
  </ion-toggle>
  <ion-toggle ng-model="currentUser.profile.toRehearse.declined" ng-change="toRehearseSet(); setPersonalProfileChanged()" toggle-class="toggle-balanced">
    <span translate>you_declined</span>
  </ion-toggle>
  <ion-toggle ng-model="currentUser.profile.toRehearse.na" ng-change="toRehearseSet(); setPersonalProfileChanged()" toggle-class="toggle-balanced">
    <span translate>were_not_appliable</span>
  </ion-toggle> 
</div>

<div ng-if="!currentUser.facebookId">
  <button class="button icon-left button-full button-dark" ng-click="linkFB()">
    <i class="icon ion-link"></i>
    <b translate>Link_Facebook_Account</b>
  </button>
  <p class="message" translate>{{msg.fb}}</p>
</div>
<div class="item item-icon-left item-text-wrap" ng-if="currentUser.facebookId">
  <i class="icon ion-social-facebook-outline"></i>
  <p><span translate>Facebook</span> <span class="item-note">{{currentUser.facebookId}}</span></p> 
  
</div>

</ion-content>
</ion-view>
