<ion-view view-title={{"Personal_Profile"|translate}}>
  <ion-content>
  <div class="list card">
    <a class="item item-thumbnail-left item-text-wrap" href="#">
      <img ng-if="currentUser.profile.photo" src="currentUser.profile.photo">
      <img ng-if="!currentUser.profile.photo" src="/img/eco.jpg">
      <h2>{{currentUser.email}}</h2>
      <!-- <p>Password updated 6 months ago</p> -->
    </a>
    <!-- <label class="item item-input">
      <span class="input-label" translate>Password</span>
      <button class="button button-small button-outline button-balanced ion-key" style="width: 40%" translate>CHANGE TODO</button>
    </label> -->
    <form name='profile'>
    <label class="item item-input">
      <span class="input-label" translate>Name</span>
      <input type="text" name="name" ng-model="currentUser.profile.name" ng-change="setPersonalProfileChanged()" placeholder={{"NAME_REQUIRED"|translate}} required>
       <span class="errors_icon pos_left" ng-show="profile.name.$error.required"><i class="icon ion-alert-circled"></i></span>
    </label>
    </form>
    <label class="item item-input" >
      <span class="input-label" translate>Nickname</span>
      <input type="text" ng-model="currentUser.profile.nickname" placeholder={{"Select_your_nickname"|translate}} ng-change="setPersonalProfileChanged()">
    </label>
    <!-- The following fields are for trentino users only -->
    <div ng-if="!currentUser.testbed.isStockholm()">   
     <label class="item item-input" >
      <span class="input-label" translate>Contract_Id</span>
      <input type="text" ng-model="currentUser.profile.contractId" placeholder={{"Select_your_contractID"|translate}} ng-change="setPersonalProfileChanged()">
    </label>
    <label class="item item-input item-select">
      <span class="input-label" translate>Test_Location</span>
      <select ng-model="currentUser.profile.testLocation" ng-change="setPersonalProfileChanged()">
        <option translate>CEIS</option>
        <option translate>CEdiS</option>
      </select>
    </label>
    </div>
    <!-- End of trentino specific fields -->
    <label class="item item-input item-select">
      <span class="input-label" translate>Gender</span>
      <select ng-model="currentUser.profile.gender" ng-change="setPersonalProfileChanged()">
        <option translate>Male</option>
        <option translate>Female</option>
        <option translate>Other</option>
      </select>
    </label>
    <label class="item item-input">
      <span class="input-label" translate>Birthday</span>
      <input type="date" ng-model="currentUser.profile.dob" ng-change="setPersonalProfileChanged()">
    </label>
    <label class="item item-input item-select">
      <span class="input-label" translate>Preferred_Language</span>
      <select ng-model="currentUser.profile.language" ng-change="setPersonalProfileChanged(); languageChanged()">
        <option translate>English</option>
        <option translate>Italian</option>
        <option translate>Swedish</option>
      </select>
    </label>
    <!-- shall do auto-save -->
  <!-- <div class="button-bar">
    <a href="#" class="button button-balanced" translate>Cancel</a>
    <a href="#" class="button button-balanced" ng-click="save()" translate>Save</a>
  </div> -->
  </div>
<!-- 
  <div class="list card">
  <div class="item item-divider" translate>About_You</div>
  <div class="item item-input">
    <span class="input-label" translate>Username</span>
    {{person.username}}
  </div>
  <div class="item item-input" ng-repeat="entry in personDataView">
    <span class="input-label" translate>{{entry.label}}</span> <i translate>{{entry.value}}</i>
  </div>
  <a href="#/tab/personal-profile" class="item item-divider item-icon-left">
    <i class="icon ion-social-snapchat-outline"></i>
    Edit <i ng-show="person.isDataComplete">your profile</i> <i ng-show="!person.isDataComplete">or add more about you</i>
  </a>
</div>
 -->

  </ion-content>
</ion-view>
