<div class="item item-no-border-bottom">
  <!--<div class="row">
    <div class="col col-100">
      <div style="float: right; margin-left: 5px;" >
        <label class="padding-top right" ng-repeat="granularity in settings.granularities">
          <input type="radio" ng-model="settings.granularity" ng-value="granularity" ng-change="changeGranularity(granularity)" ng-class="{active:settings.granularity==granularity}" />
          <label>{{'GRAPH_DATA_' + (granularity | uppercase) | translate}}</label>
        </label>
      </div>
    </div>
  </div>-->
  <div class="button-bar">
    <a ng-repeat="granularity in settings.granularities" class="button button-small button-multiline btn btn btn-default" ng-class="{active:settings.granularity==granularity}" ng-click="changeGranularity(granularity)" ng-disabled="settings.disabledGranularities.indexOf(granularity)>=0">
      {{'GRAPH_DATA_' + (granularity | uppercase) | translate}}</a>
  </div>
  <div class="row">
    <div class="col col-100">
      <div style="float: left" class="text-right">
        <button  class="button button-clear button-dark button-multiline" ng-click="listCategories()">
          <b>{{'GRAPH_DATA_' + (settings.type | uppercase) | translate}}</b>
          <i class="icon ion-ios-arrow-right"></i>
        </button>
      </div>
      <div style="float: right; margin-left: 5px;" class = "padding-top">
        <button style="color: #2d4d75" class="button button-clear button-dark button-small text-medium-small" ng-click="listComparisons()">
          {{'GRAPH_DATA_COMPARE' | translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-100">
      <div style="padding-top: 5px; padding-left: 20px" class= "text-medium-small padding-left">
        {{'GRAPH_DATA_ENERGY_USE' | translate}}
        (<span ng-bind-html="settings.unit"></span>)
        <i class="icon ion-information-circled positive"></i></div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col col-100">
    <div class="chart-container">
      <a class="button button-clear button-stable chart-navigation ion-chevron-left" ng-click="move(-1)" ng-disabled="chartConfig.loading" ng-hide="settings.granularity=='yearly' || !hasMoreData(-1)"></a>
      <highchart id="chart" config="chartConfig"></highchart>
      <a class="button button-clear button-stable chart-navigation ion-chevron-right" ng-click="move(1)" ng-disabled="chartConfig.loading" ng-hide="settings.granularity=='yearly' || !hasMoreData(+1)"></a>
    </div>
  </div>
</div>
